@using ZeonTicaret.WebUI.Models
@model IEnumerable<ZeonTicaret.WebUI.Models.Bildirim>

<li class="nav-item dropdown bildirim">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        <img src="~/Content/Zeon/images/notification.png" />
        @if (ViewBag.Count > 0)
        {
            <i id="kirmizi" style="color:red;font-size:14px">&#9679;</i>
        }
       
    </a>
    <div class="dropdown-menu " style="width:10%;padding:10%">
        @foreach (Bildirim item in Model)
        {
            <a class="dropdown-item form-control" style="margin-left:1%" href="#">@item.Adi - @item.BildirimTarihi </a>
        }              
    </div>
</li>
<script src="~/Content/Zeon/js/jquery-1.10.0.min.js"></script>
<script>
    $(".bildirim").click(function () {
       
        $.ajax({
            url: "/Home/BildirimOkundu",
            type: "get",
            success: function () {
                $("#kirmizi").remove();
            }
        });

    })

</script>